$white: #fff;
$black: #000;

// On Used
$primary: #601FEB;
$hover: #5613e7;
$background-white: #FAFAFA;
$text-subheader: #444444;

$secondary: #6C757D;
$success: #28a745;
$danger: #dc3545;
$info: #17a2b8;
$warning: #ffc107;